<div id="content" class="col-6 mx-auto">
  <h1 class="py-3">Add a cocktail</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>