// Import page-specific CSS files here.
@import "home";
@import "cocktails";


a:hover {
  text-decoration: none;
}

.flex-wrapper {
  min-height: 100vh;
}

h1 {
  font-family: $title-font;
  color: rgb(184, 52, 0);
}

