<nav class="row navbar-lewagon px-3">
  <%= link_to "Mr. cocktail", cocktails_path  %>
  <form class="form-inline mr-3">
    <input class="form-control" type="search" name="query" placeholder="Search a cocktail">
    <button class="btn btn-outline-success" type="submit">Find</button>
  </form>
</nav>