.navbar-lewagon {
  justify-content: space-between;
  background: white;
  a {
    font-family: $title-font;
    font-size: 1.2em;
    color: #222;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
